*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
.main-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;

}

/* NAVBAR */

.logo{
    height: 60px;
    width: 60px;
    margin-left: 20px;
}

.navbar li a{
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}
.button {
    height: 30px;
    width:80px;
    margin-left: 20px;
    color: #000;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #000;
}
.join{
    background-color: #000;
    color: #fff;
}

/* header */
.main_content{
    padding: 40px 40px;
}

.header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .textbox{
    position: relative;
    max-width: 600px;
}

.header .textbox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.header .textbox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.header .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.header .imagebox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.header .imagebox img{
    max-width: 340px;
}
.thumb{
    position: absolute;
    left: 35%;
    bottom: 20px;
    transform: translateX(-50);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}